/* MAIN SLIDER WRAPPER */
.hero-slider {
  width: 100%;
  max-width: 130px;
  height: 100px;          /* responsive */
  aspect-ratio: 16/9;    /* perfect ratio */
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}


/* SLIDES TRACK */
.slides {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.7s ease-in-out;
}

/* EACH SLIDE */
.slide {
  min-width: 100%;
  height: 100%;
  position: relative;
}

/* IMAGE STYLE */
.slide img {
  width: 100%;
  height: 100%;
  object-fit:fill;
  display: block;    /* responsive fix */
}

/* CAPTION TEXT ON IMAGE */
.slide-caption {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);   /* ✔ center main */
  background: rgba(0,0,0,0.4);
  color: #fff;
  padding: 8px 4px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;            /* optional: text center */
}


/* DOTS CONTAINER */
.dots {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}


.dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background: #fff;
}

.dot:hover {
  transform: scale(1.2);
}

/* Tablets */
.hero-slider {
  width: 100%;
  max-width: 100%;
  height: 350px;
  aspect-ratio: 16/9;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}


/* Mobile */
@media (max-width: 600px) {
  .hero-slider {
    height: 200px;       /* ✔ mobile ke liye perfect */
    aspect-ratio: unset; /* ❗ remove aspect ratio on mobile */
  }

  .slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;   /* ✔ image perfect crop hogi */
  }
.slide-caption {
    font-size: 13px;
  }
}


/* Very Small Phones */
@media (max-width: 400px) {
  .hero-slider {
    height: 90px;
  }
  .slide-caption {
    font-size:10px;
  }
}  
